<footer>
  <div class="footer__container">
      <p class="copyright">© 2023 KubeNews <span class="copyright__separator">-</span> <span class="copyright__text">Devops brixton</span></p>
      <div class="footer__links">
          <a class="link" href="#">Política de Privacidade de Devops brixton</a>
          <span class="footer__links__separator">·</span>
          <a class="link" href="#">Termino de Uso</a>
      </div>
  </div>
</footer>